/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo:wght@400;700;800&family=Tiro+Bangla:ital@0;1&display=swap');

// Fonts
$font-family-tiro-bangla: 'Tiro Bangla', tiro-bangla; 
$font-family-sans-serif: 'Montserrat', montserrat; 
$font-family-nanum-myeongjo: 'Nanum Myeongjo', nanum-myeongjo;
$font-family-lora: 'Lora', lora;
$font-family-k2d: 'K2D', k2d;
$font-family-josefin-slab: 'Josefin Slab', josefin-slab;
// some of the fonts do not work

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$ivory: #F7FBEF;
$gray: #64605f;
$lavender: #D9D2DB;
$orange: #ad7237;
$black: #000000;
$english-violet: #413644;
$seashell: #FBF2EE;
$english-violet-2: #57495B;

// Base document colors
$navbar-bg: $english-violet-2; // navbar
$navbar-fg: $seashell; // navbar foreground elements
$navbar-hl: $lavender; // highlight color when hovering over navbar links
$body-bg: $english-violet; // page background 
$body-color: $seashell; // page text 
$footer-bg: $ivory; // footer 
$link-color: $gray; // hyperlinks 

// Inline code
$code-bg: $ivory; // inline code background color
$code-color: $gray; // inline code text color

// Code blocks
$code-block-bg: $ivory; // code block background color